# Development dependencies
pytest==7.4.3
pytest-django==4.5.2
pytest-cov==4.1.0
coverage==7.3.2
black==23.12.1
isort==5.13.2
flake8==7.0.0
mypy==1.9.0
django-debug-toolbar==4.3.0
django-extensions==3.2.3